.Theme--day {
  --color-code-attribute-name: var(--oc-green-7);
  --color-code-attribute-value: var(--oc-yellow-8);
  --color-code-comment: var(--color-text--shade-3);
  --color-code-function: var(--oc-blue-7);
  --color-code-keyword: var(--oc-violet-7);
  --color-code-operator: var(--oc-blue-6);
  --color-code-tag: var(--oc-red-9);
}

.Theme--night {
  --color-code-attribute-name: var(--oc-green-4);
  --color-code-attribute-value: var(--oc-yellow-3);
  --color-code-comment: var(--color-text--shade-3);
  --color-code-function: var(--oc-blue-4);
  --color-code-keyword: var(--oc-violet-3);
  --color-code-operator: var(--oc-blue-2);
  --color-code-tag: var(--oc-red-5);
}

.CodeBlock--wrap {
  white-space: pre-wrap;
}

.token.comment,
.token.prolog,
.token.doctype,
.token.cdata,
.token.punctuation {
  color: var(--color-text--shade-3);
}

.token.property,
.token.tag,
.token.boolean,
.token.number,
.token.constant,
.token.symbol,
.token.deleted {
  color: var(--color-code-tag);
}

.token.selector,
.token.attr-name,
.token.char,
.token.builtin,
.token.inserted {
  color: var(--color-code-attribute-name);
}

.token.atrule,
.token.attr-value,
.token.string {
  color: var(--color-code-attribute-value);
}

.token.keyword {
  color: var(--color-code-keyword);
}

.token.class-name,
.token.function {
  color: var(--color-code-function);
}

.token.operator {
  color: var(--color-code-operator);
}

.token.important,
.token.bold {
  font-weight: var(--text-weight--strong);
}

.token.italic {
  font-style: italic;
}

.token.entity {
  cursor: help;
}
