/* stylelint-disable selector-max-universal, selector-max-id, selector-max-type */
*,
*::before,
*::after {
  box-sizing: inherit;
}

*::selection {
  background-color: var(--color-highlight);
  color: var(--color-dark-shade-1);
}

html {
  min-height: 100%;
  box-sizing: border-box;
}

/* stylelint-disable-next-line selector-id-pattern */
html,
body,
#Root {
  display: flex;
  flex: 1 1 auto;
  flex-direction: column;
  min-height: 100%;
}

body {
  background-color: var(--color-background-shade-1);
  color: var(--color-text-shade-1);
  transition-property: background-color, color;
  transition-duration: var(--transition-duration--fast);
  transition-timing-function: var(--transition-timing-function);
}

canvas {
  display: block;
}

svg:not(:root) {
  display: block;
  overflow: visible;
}
