.ThemeSwitcher {
  border-radius: var(--size--x16);
  border-color: var(--color-text--shade-1);
  transition-property: border-color;
  transition-duration: var(--transition-time--fast);
  transition-timing-function: var(--transition-timing-function);

  &:hover { border-color: var(--color-accent--shade-1); }
  &:active { border-color: var(--color-accent--shade-3); }
}

.ThemeSwitcher__input {
  position: absolute;
  opacity: 0;
  z-index: -1;
}

.ThemeSwitcher__toggle {
  background-color: var(--color-text--shade-1);
  color: transparent;
  transition-property: background-color;
  transition-duration: var(--transition-time--fast);
  transition-timing-function: var(--transition-timing-function);

  @nest .ThemeSwitcher:hover & { background-color: var(--color-accent--shade-1); }
  @nest .ThemeSwitcher:active & { background-color: var(--color-accent--shade-3); }
}
