.Modal__header {
  background-color: inherit;
}

.Modal__header--sticky {
  position: sticky;
  top: 0;
}

.Modal__body-open {
  overflow: hidden;
}

.Modal__footer {
  background-color: inherit;
}

.Modal__footer--sticky {
  position: sticky;
  bottom: 0;
}
