.ListItem:not(:last-child)::after {
  content: attr(data-separator);

  .List--x1 > & { margin-left: var(--size--x1); }

  .List--x2 > & { margin-left: var(--size--x2); }

  .List--x3 > & { margin-left: var(--size--x3); }

  .List--x4 > & { margin-left: var(--size--x4); }

  .List--x6 > & { margin-left: var(--size--x6); }

  .List--x8 > & { margin-left: var(--size--x8); }

  .List--x10 > & { margin-left: var(--size--x10); }

  .List--x12 > & { margin-left: var(--size--x12); }

  .List--x16 > & { margin-left: var(--size--x16); }
}
