<!DOCTYPE html>
<html class="Theme--day" lang="en-us">
  <head>
    <meta charSet="utf-8" />
    <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible">
    <meta content="width=device-width,initial-scale=1" name="viewport">
    <link rel="icon" type="image/png" sizes="32x32" href="/assets/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/assets/favicon/favicon-16x16.png">
    <link rel="shortcut icon" href="/assets/favicon/favicon.ico">
    <title>Preshape | Style Guide</title>
    <% if (htmlWebpackPlugin.options.stylesheet) { %>
      <link href="<%= htmlWebpackPlugin.options.stylesheet %>" rel="stylesheet">
    <% } %>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,700" rel="stylesheet">
  </head>
  <body>
    <div id="Root"><% if (htmlWebpackPlugin.options.html) { %><%= htmlWebpackPlugin.options.html %><% } %></div>

    <% if (htmlWebpackPlugin.options.script) { %>
      <script src="<%= htmlWebpackPlugin.options.script %>" type="application/javascript"></script>
    <% } %>
  </body>
</html>
