.SelectInputLabels {
  border: var(--border-size--x2) solid var(--color-text-shade-1);
  background-color: var(--color-background-shade-1);
}

.SelectInputLabels__label {
  cursor: pointer;
  transition-property: border-color;
  transition-duration: var(--transition-duration--base);
  transition-timing-function: var(--transition-timing-function);

  &:hover {
    border-color: var(--color-accent-shade-3);
    color: var(--color-accent-shade-3);
  }

  &:focus-within {
    border-color: var(--color-accent-shade-5);
  }

  &[checked] {
    color: var(--color-text-accent-shade-4);
  }

  &[disabled] {
    border-color: var(--color-text-shade-3);
    background-color: var(--color-background-shade-3);
    color: var(--color-text-shade-3);
    cursor: default;
  }
}

.SelectInputLabels .SelectInputLabels__label {
  border: 0;
  border-radius: 0;

  &:not(:last-child) {
    border-bottom: var(--border-size--x2) solid var(--color-text-shade-1);
  }
}

.SelectInputLabels__label-text {
  transition-property: color;
  transition-duration: var(--transition-duration--base);
  transition-timing-function: var(--transition-timing-function);
}
