.Input {
  width: 100%;
  transition-property: background-color, border-color;
  transition-duration: var(--transition-duration--base);
  transition-timing-function: var(--transition-timing-function);

  &:focus-within {
    color: var(--color-accent--shade-4);
  }

  &[disabled] {
    opacity: 0.5;
    cursor: default;
  }

  &:hover:not([disabled]) {
    color: var(--color-accent--shade-3);
  }
}

.Input--invalid {
  &,
  &:focus-within,
  &:hover:not([disabled]) {
    color: var(--color-negative--shade-4);
  }
}

.Input__element {
  display: block;
  grid-area: input;
  width: 100%;
  min-width: 0;
  border: 0;
  border-radius: 0;
  background-color: transparent;
  color: var(--color-text--shade-1);
  padding: 0;
  text-overflow: ellipsis;
  appearance: none;

  &::placeholder {
    color: var(--color-text--shade-3);
  }

  &:focus::placeholder {
    color: transparent;
  }

  &:focus {
    outline: 0;
  }

  &:disabled {
    opacity: 0.5;
    cursor: default;
  }
}
