.Appear {
  animation-timing-function: var(--transition-function);
}

.Appear--fast {
  transition-duration: var(--transition-time--fast);
  animation-duration: var(--transition-time--fast);
}

.Appear--base {
  transition-duration: var(--transition-time--base);
  animation-duration: var(--transition-time--base);
}

.Appear--slow {
  transition-duration: var(--transition-time--slow);
  animation-duration: var(--transition-time--slow);
}

.Appear--Fade {
  transition-property: opacity;
}

.Appear--Fade-appear-active,
.Appear--Fade-appear-done,
.Appear--Fade-enter-active,
.Appear--Fade-enter-done,
.Appear--Fade-exit {
  opacity: 1;
}

.Appear--Fade-appear,
.Appear--Fade-enter,
.Appear--Fade-exit-active,
.Appear--Fade-exit-done {
  opacity: 0;
}

.Appear--FadeSlideDown,
.Appear--FadeSlideUp {
  transition-property: transform, opacity;
}

.Appear--FadeSlideDown-appear-active,
.Appear--FadeSlideDown-appear-done,
.Appear--FadeSlideDown-enter-active,
.Appear--FadeSlideDown-enter-done,
.Appear--FadeSlideDown-exit,
.Appear--FadeSlideUp-appear-active,
.Appear--FadeSlideUp-appear-done,
.Appear--FadeSlideUp-enter-active,
.Appear--FadeSlideUp-enter-done,
.Appear--FadeSlideUp-exit {
  transform: translateY(0);
  opacity: 1;
}

.Appear--FadeSlideDown-appear,
.Appear--FadeSlideDown-enter,
.Appear--FadeSlideDown-exit-active,
.Appear--FadeSlideDown-exit-done {
  transform: translateY(- var(--size--x4));
  opacity: 0;
}

.Appear--FadeSlideUp-appear,
.Appear--FadeSlideUp-enter,
.Appear--FadeSlideUp-exit-active,
.Appear--FadeSlideUp-exit-done {
  transform: translateY(var(--size--x4));
  opacity: 0;
}

.Appear--FadeSlideRight,
.Appear--FadeSlideLeft {
  transition-property: transform, opacity;
}

.Appear--FadeSlideRight-appear-active,
.Appear--FadeSlideRight-appear-done,
.Appear--FadeSlideRight-enter-active,
.Appear--FadeSlideRight-enter-done,
.Appear--FadeSlideRight-exit,
.Appear--FadeSlideLeft-appear-active,
.Appear--FadeSlideLeft-appear-done,
.Appear--FadeSlideLeft-enter-active,
.Appear--FadeSlideLeft-enter-done,
.Appear--FadeSlideLeft-exit {
  transform: translateX(0);
  opacity: 1;
}

.Appear--FadeSlideRight-appear,
.Appear--FadeSlideRight-enter,
.Appear--FadeSlideRight-exit-active,
.Appear--FadeSlideRight-exit-done {
  transform: translateX(- var(--size--x4));
  opacity: 0;
}

.Appear--FadeSlideLeft-appear,
.Appear--FadeSlideLeft-enter,
.Appear--FadeSlideLeft-exit-active,
.Appear--FadeSlideLeft-exit-done {
  transform: translateX(var(--size--x4));
  opacity: 0;
}

@keyframes PopIn {
  0% { transform: scale(0.3, 0.3); opacity: 0; }
  20% { transform: scale(1.1, 1.1); }
  40% { transform: scale(0.9, 0.9); }
  60% { transform: scale(1.03, 1.03); opacity: 1; }
  80% { transform: scale(0.97, 0.97); }

  to {
    transform: scale(1, 1);
    opacity: 1;
  }
}

@keyframes PopOut {
  20% { transform: scale(0.9, 0.9); }
  50%,
  55% { transform: scale(1.03, 1.03); opacity: 1; }
  100% { transform: scale(0.3, 0.3); opacity: 0; }
}

.Appear--Pop {
  transform-origin: center;
  animation-fill-mode: forwards;
}

.Appear--Pop-appear,
.Appear--Pop-enter,
.Appear--Pop-appear-done,
.Appear--Pop-enter-done {
  transform: scale(0.3, 0.3);
  opacity: 0;
  animation-name: PopIn;
}

.Appear--Pop-exit,
.Appear--Pop-exit-done {
  transform: scale(1, 1);
  opacity: 1;
  animation-name: PopOut;
}

.Appear--ScaleYDown,
.Appear--ScaleYUp {
  transition-property: transform;
}

.Appear--ScaleYDown { transform-origin: top; }
.Appear--ScaleYUp { transform-origin: bottom; }

.Appear--ScaleYDown-appear-active,
.Appear--ScaleYDown-appear-done,
.Appear--ScaleYDown-enter-active,
.Appear--ScaleYDown-enter-done,
.Appear--ScaleYDown-exit,
.Appear--ScaleYUp-appear-active,
.Appear--ScaleYUp-appear-done,
.Appear--ScaleYUp-enter-active,
.Appear--ScaleYUp-enter-done,
.Appear--ScaleYUp-exit {
  transform: scaleY(1);
}

.Appear--ScaleYDown-appear,
.Appear--ScaleYDown-enter,
.Appear--ScaleYDown-exit-active,
.Appear--ScaleYDown-exit-done,
.Appear--ScaleYUp-appear,
.Appear--ScaleYUp-enter,
.Appear--ScaleYUp-exit-active,
.Appear--ScaleYUp-exit-done {
  transform: scaleY(0);
}
