.Link {
  color: inherit;
  text-decoration: none;
  cursor: pointer;
  transition-property: color, border-width, text-decoration-color;
  transition-duration: var(--transition-duration--fast);
  transition-timing-function: var(--transition-timing-function);
  text-decoration-color: var(--color-accent-shade-4);

  &:hover {
    color: var(--color-accent-shade-3);
    text-decoration-color: var(--color-accent-shade-3);
  }

  &.Link--active {
    color: var(--color-accent-shade-4);
    text-decoration-color: var(--color-accent-shade-4);
  }

  &:active {
    color: var(--color-accent-shade-5);
    text-decoration-color: var(--color-accent-shade-5);
  }
}

.Link--text-link {
  display: inline-block;
  font-weight: var(--text-weight--strong);
  text-decoration-line: underline;
  text-decoration-thickness: var(--border-size--x2);
}
