.Menu {
  overflow: auto;
}

.MenuItemElement {
  padding: 0 var(--size--x1) var(--size--x4);
  border-bottom: var(--border-size--x2) solid transparent;
  transition-property: border-color;
  transition-duration: var(--transition-time--base);
  transition-timing-function: var(--transition-function);
}

.MenuItemElement:hover {
  border-color: var(--color-accent--shade-1);
}

.MenuItemElement:active {
  border-color: var(--color-accent--shade-3);
}

.MenuItem--active .MenuItemElement,
.MenuItem--active:hover .MenuItemElement {
  border-color: var(--color-accent--shade-2);
}
