.Grid {
  display: grid;
  grid-auto-rows: 1fr;
}

.Grid--gap-x1  { grid-gap: var(--size--x1); }
.Grid--gap-x2  { grid-gap: var(--size--x2); }
.Grid--gap-x3  { grid-gap: var(--size--x3); }
.Grid--gap-x4  { grid-gap: var(--size--x4); }
.Grid--gap-x6  { grid-gap: var(--size--x6); }
.Grid--gap-x8  { grid-gap: var(--size--x8); }
.Grid--gap-x10 { grid-gap: var(--size--x10); }
.Grid--gap-x12 { grid-gap: var(--size--x12); }
.Grid--gap-x16 { grid-gap: var(--size--x16); }

.Grid--align-start  { justify-content: start; }
.Grid--align-middle { justify-content: center; }
.Grid--align-end    { justify-content: end; }
