/* stylelint-disable */

.Logo {
  display: block;
  margin-right: auto;
  margin-left: auto;
  overflow: visible;
}

.Logo path {
  fill: currentColor;
  stroke: currentColor;
  transition-property: stroke, fill;
  transition-duration: var(--transition-time--slow);
  transition-timing-function: var(--transition-timing-function);
}

.Theme--day .Logo {
  & path:nth-child(1) { color: var(--oc-gray-5); }
  & path:nth-child(2) { color: var(--oc-gray-6); }
  & path:nth-child(3) { color: var(--oc-gray-7); }
  & path:nth-child(4) { color: var(--oc-gray-9); }
  & path:nth-child(5) { color: var(--oc-gray-8); }
}

.Theme--night .Logo {
  & path:nth-child(1) { color: var(--oc-gray-5); }
  & path:nth-child(2) { color: var(--oc-gray-4); }
  & path:nth-child(3) { color: var(--oc-gray-3); }
  & path:nth-child(4) { color: var(--oc-gray-0); }
  & path:nth-child(5) { color: var(--oc-gray-2); }
}
