.Link {
  color: inherit;
  text-decoration: none;
  cursor: pointer;
  transition-property: color, border-width, text-decoration-color;
  transition-duration: var(--transition-time--fast);
  transition-timing-function: var(--transition-function);
  text-decoration-color: var(--color-accent--shade-2);

  &:hover {
    color: var(--color-accent--shade-1);
    text-decoration-color: var(--color-accent--shade-1);
  }

  &.Link--active {
    color: var(--color-accent--shade-2);
    text-decoration-color: var(--color-accent--shade-2);
  }

  &:active {
    color: var(--color-accent--shade-3);
    text-decoration-color: var(--color-accent--shade-3);
  }
}

.Link--underline {
  text-decoration-line: underline;
}
