.Label {
  display: inline-flex;
  transition-property: background-color, color;
  transition-duration: var(--transition-duration--fast);
  transition-timing-function: var(--transition-timing-function);
}
