.Flex         { flex: 0 0 auto; }
.Flex--grow   { flex-grow: 1; }
.Flex--shrink { flex-shrink: 1; }

.Flex--basis-none      { flex-basis: 0%; }
.Flex--basis-content   { flex-basis: auto; }
.Flex--basis-container { flex-basis: 100%; }

.Flex--horizontal,
.Flex--vertical {
  display: flex;
}

.Flex--wrap { flex-wrap: wrap; }

.Flex--horizontal > .Flex--basis-none { width: 0; }
.Flex--vertical > .Flex--basis-none { height: 0; }

.Flex--horizontal { flex-direction: row; }
.Flex--vertical   { flex-direction: column; }

.Flex--align-self-start  { align-self: flex-start; }
.Flex--align-self-middle { align-self: center; }
.Flex--align-self-end    { align-self: flex-end; }

.Flex--horizontal.Flex--align-horz-start   { justify-content: flex-start; }
.Flex--horizontal.Flex--align-horz-middle  { justify-content: center; }
.Flex--horizontal.Flex--align-horz-end     { justify-content: flex-end; }
.Flex--horizontal.Flex--align-horz-around  { justify-content: space-around; }
.Flex--horizontal.Flex--align-horz-between { justify-content: space-between; }

.Flex--horizontal.Flex--align-vert-start  { align-items: flex-start; }
.Flex--horizontal.Flex--align-vert-middle { align-items: center; }
.Flex--horizontal.Flex--align-vert-end    { align-items: flex-end; }

.Flex--vertical.Flex--align-horz-start  { align-items: flex-start; }
.Flex--vertical.Flex--align-horz-middle { align-items: center; }
.Flex--vertical.Flex--align-horz-end    { align-items: flex-end; }

.Flex--vertical.Flex--align-vert-start   { justify-content: flex-start; }
.Flex--vertical.Flex--align-vert-middle  { justify-content: center; }
.Flex--vertical.Flex--align-vert-end     { justify-content: flex-end; }
.Flex--vertical.Flex--align-vert-around  { justify-content: space-around; }
.Flex--vertical.Flex--align-vert-between { justify-content: space-between; }

.Flex--gap-x1 > .Flex { margin: calc(var(--size--x1) * 0.5); }
.Flex--gap-x2 > .Flex { margin: calc(var(--size--x2) * 0.5); }
.Flex--gap-x3 > .Flex { margin: calc(var(--size--x3) * 0.5); }
.Flex--gap-x4 > .Flex { margin: calc(var(--size--x4) * 0.5); }
.Flex--gap-x6 > .Flex { margin: calc(var(--size--x6) * 0.5); }
.Flex--gap-x8 > .Flex { margin: calc(var(--size--x8) * 0.5); }
.Flex--gap-x10 > .Flex { margin: calc(var(--size--x10) * 0.5); }
.Flex--gap-x12 > .Flex { margin: calc(var(--size--x12) * 0.5); }
.Flex--gap-x16 > .Flex { margin: calc(var(--size--x16) * 0.5); }

.Flex--gap-x1 > .Flex,
.Flex--gap-x2 > .Flex,
.Flex--gap-x3 > .Flex,
.Flex--gap-x4 > .Flex,
.Flex--gap-x6 > .Flex,
.Flex--gap-x8 > .Flex,
.Flex--gap-x10 > .Flex,
.Flex--gap-x12 > .Flex,
.Flex--gap-x16 > .Flex {
  &:first-child {
    margin-top: 0;
    margin-left: 0;
  }

  &:last-child {
    margin-right: 0;
    margin-bottom: 0;
  }
}

.Flex--vertical.Flex--gap-x1 > .Flex,
.Flex--vertical.Flex--gap-x2 > .Flex,
.Flex--vertical.Flex--gap-x3 > .Flex,
.Flex--vertical.Flex--gap-x4 > .Flex,
.Flex--vertical.Flex--gap-x6 > .Flex,
.Flex--vertical.Flex--gap-x8 > .Flex,
.Flex--vertical.Flex--gap-x10 > .Flex,
.Flex--vertical.Flex--gap-x12 > .Flex,
.Flex--vertical.Flex--gap-x16 > .Flex {
  margin-right: 0;
  margin-left: 0;
}

.Flex--horizontal.Flex--gap-x1 > .Flex,
.Flex--horizontal.Flex--gap-x2 > .Flex,
.Flex--horizontal.Flex--gap-x3 > .Flex,
.Flex--horizontal.Flex--gap-x4 > .Flex,
.Flex--horizontal.Flex--gap-x6 > .Flex,
.Flex--horizontal.Flex--gap-x8 > .Flex,
.Flex--horizontal.Flex--gap-x10 > .Flex,
.Flex--horizontal.Flex--gap-x12 > .Flex,
.Flex--horizontal.Flex--gap-x16 > .Flex {
  margin-top: 0;
  margin-bottom: 0;
}
