.Button {
  padding: var(--size--x2) var(--size--x3);
  border-width: var(--border-size--x2);
  border-style: solid;
  border-color: var(--color-text--shade-1);
  background-color: var(--color-background--shade-1);
  font-size: var(--text-size--small);
  font-weight: var(--text-weight--strong);
  text-transform: uppercase;
  line-height: var(--text-height--small);
  transition-property: border-color, color, opacity;
  transition-duration: var(--transition-time--fast);
  transition-timing-function: var(--transition-timing-function);

  &:hover { cursor: pointer; }

  &:focus {
    outline: 0;
  }

  &[disabled],
  &[disabled]:hover,
  &[disabled]:active {
    border-color: var(--color-text--shade-3);
    background-color: var(--color-background--shade-3);
    color: var(--color-text--shade-3);
    cursor: default;
  }

  &::before,
  &::after {
    content: '';
    flex: 1 0 auto;
  }
}

.Button--accent {
  &:hover {
    border-color: var(--color-accent--shade-1);
    color: var(--color-accent--shade-1);
  }

  &:active {
    border-color: var(--color-accent--shade-3);
    color: var(--color-accent--shade-3);
  }
}

.Button--positive {
  &:hover {
    border-color: var(--color-positive--shade-1);
    color: var(--color-positive--shade-1);
  }

  &:active {
    border-color: var(--color-positive--shade-3);
    color: var(--color-positive--shade-3);
  }
}

.Button--negative {
  &:hover {
    border-color: var(--color-negative--shade-1);
    color: var(--color-negative--shade-1);
  }

  &:active {
    border-color: var(--color-negative--shade-3);
    color: var(--color-negative--shade-3);
  }
}

.Buttons > .Button:not(:last-child) {
  border-right-width: 0;

  &:not(:disabled):hover,
  &:not(:disabled):active {
    border-right-width: var(--border-size--x2);

    & + .Button {
      border-left-width: 0;
    }
  }
}
