.Button {
  padding: var(--size--x2) var(--size--x3);
  border-width: var(--border-size--x2);
  border-style: solid;
  border-color: transparent;
  font-size: var(--text-size--small);
  font-weight: var(--text-weight--strong);
  text-transform: uppercase;
  line-height: var(--text-height--small);
  transition-property: border-color, background-color, color, opacity;
  transition-duration: var(--transition-time--fast);
  transition-timing-function: var(--transition-timing-function);

  &:hover {
    cursor: pointer;
  }

  &:focus {
    outline: 0;
  }

  &[disabled],
  &[disabled]:hover,
  &[disabled]:active {
    cursor: default;
  }

  &::before,
  &::after {
    content: '';
    flex: 1 0 auto;
  }
}

.Button--outline {
  border-color: currentColor;
  background-color: transparent;
  color: var(--color-text--shade-1);

  &:hover {
    &.Button--accent { color: var(--color-accent--shade-1); }
    &.Button--positive { color: var(--color-positive--shade-1); }
    &.Button--negative { color: var(--color-negative--shade-1); }
  }

  &.Button--active,
  &:active {
    &.Button--accent { color: var(--color-accent--shade-3); }
    &.Button--positive { color: var(--color-positive--shade-3); }
    &.Button--negative { color: var(--color-negative--shade-3); }
  }

  &[disabled],
  &[disabled]:hover,
  &[disabled]:active {
    color: var(--color-text--shade-2);
  }
}

.Button--fill {
  background-color: var(--color-text--shade-1);
  color: var(--color-background--shade-1);

  &:hover {
    &.Button--accent { background-color: var(--color-accent--shade-1); }
    &.Button--positive { background-color: var(--color-positive--shade-1); }
    &.Button--negative { background-color: var(--color-negative--shade-1); }
  }

  &.Button--active,
  &:active {
    &.Button--accent { background-color: var(--color-accent--shade-3); }
    &.Button--positive { background-color: var(--color-positive--shade-3); }
    &.Button--negative { background-color: var(--color-negative--shade-3); }
  }

  &[disabled],
  &[disabled]:hover,
  &[disabled]:active {
    background-color: var(--color-text--shade-2);
    color: var(--color-background--shade-3);
  }
}

.Buttons > .Button--outline:not(:last-child) {
  border-right-width: 0;

  &.Button--active,
  &:not(:disabled):hover,
  &:not(:disabled):active {
    border-right-width: var(--border-size--x2);

    & + .Button--outline {
      border-left-width: 0;
    }
  }
}
