.Alert {
  animation-direction: alternate;
  animation-duration: var(--transition-time--slow);
  animation-fill-mode: forwards;
  animation-iteration-count: 0;
  animation-play-state: paused;
  animation-timing-function: var(--transition-function);
}

.Alert--accent {
  border-color: var(--color-accent--shade-2);
  color: var(--color-accent--shade-2);
}

.Alert--negative {
  border-color: var(--color-negative--shade-2);
  color: var(--color-negative--shade-2);
}

.Alert--positive {
  border-color: var(--color-positive--shade-2);
  color: var(--color-positive--shade-2);
}

.Alert--fill {
  color: var(--color-white);

  &.Alert--accent { background-color: var(--color-accent--shade-2); }
  &.Alert--negative { background-color: var(--color-negative--shade-2); }
  &.Alert--positive { background-color: var(--color-positive--shade-2); }
}
