.Base {
  margin: 0;

  &:first-child { margin-top: 0; }
  &:last-child { margin-bottom: 0; }
}

.Base--clickable { cursor: pointer; }
.Base--container { position: relative; }
.Base--display-block { display: block; }
.Base--display-inline-block { display: inline-block; }

.Base--overflow-hidden { overflow: hidden; }

.Base--margin-x1 { margin: var(--size--x1) 0; }
.Base--margin-x2 { margin: var(--size--x2) 0; }
.Base--margin-x3 { margin: var(--size--x3) 0; }
.Base--margin-x4 { margin: var(--size--x4) 0; }
.Base--margin-x6 { margin: var(--size--x6) 0; }
.Base--margin-x8 { margin: var(--size--x8) 0; }
.Base--margin-x10 { margin: var(--size--x10) 0; }
.Base--margin-x12 { margin: var(--size--x12) 0; }
.Base--margin-x16 { margin: var(--size--x16) 0; }

.Base--padding-horizontal-x1 { padding-right: var(--size--x1); padding-left: var(--size--x1); }
.Base--padding-horizontal-x2 { padding-right: var(--size--x2); padding-left: var(--size--x2); }
.Base--padding-horizontal-x3 { padding-right: var(--size--x3); padding-left: var(--size--x3); }
.Base--padding-horizontal-x4 { padding-right: var(--size--x4); padding-left: var(--size--x4); }
.Base--padding-horizontal-x6 { padding-right: var(--size--x6); padding-left: var(--size--x6); }
.Base--padding-horizontal-x8 { padding-right: var(--size--x8); padding-left: var(--size--x8); }
.Base--padding-horizontal-x10 { padding-right: var(--size--x10); padding-left: var(--size--x10); }
.Base--padding-horizontal-x12 { padding-right: var(--size--x12); padding-left: var(--size--x12); }
.Base--padding-horizontal-x16 { padding-right: var(--size--x16); padding-left: var(--size--x16); }

.Base--padding-vertical-x1 { padding-top: var(--size--x1); padding-bottom: var(--size--x1); }
.Base--padding-vertical-x2 { padding-top: var(--size--x2); padding-bottom: var(--size--x2); }
.Base--padding-vertical-x3 { padding-top: var(--size--x3); padding-bottom: var(--size--x3); }
.Base--padding-vertical-x4 { padding-top: var(--size--x4); padding-bottom: var(--size--x4); }
.Base--padding-vertical-x6 { padding-top: var(--size--x6); padding-bottom: var(--size--x6); }
.Base--padding-vertical-x8 { padding-top: var(--size--x8); padding-bottom: var(--size--x8); }
.Base--padding-vertical-x10 { padding-top: var(--size--x10); padding-bottom: var(--size--x10); }
.Base--padding-vertical-x12 { padding-top: var(--size--x12); padding-bottom: var(--size--x12); }
.Base--padding-vertical-x16 { padding-top: var(--size--x16); padding-bottom: var(--size--x16); }

.Base--border-radius-x1 { border-radius: var(--size--x1); }
.Base--border-radius-x2 { border-radius: var(--size--x2); }
.Base--border-radius-x3 { border-radius: var(--size--x3); }
.Base--border-radius-full { border-radius: 50%; }

.Base--border-size-x1 { border-width: var(--border-size--x1); }
.Base--border-size-x2 { border-width: var(--border-size--x2); }

.Base--border-size-x1,
.Base--border-size-x2 {
  border-style: solid;
}

.Base--scrollable {
  overflow: auto;
}

.Base--max-width {
  width: 100%;
  margin-right: auto;
  margin-left: auto;
}

.Base--background-color-black { background-color: var(--color-black); }
.Base--background-color-white { background-color: var(--color-white); }
.Base--background-color-accent-shade-1 { background-color: var(--color-accent--shade-1); }
.Base--background-color-accent-shade-2 { background-color: var(--color-accent--shade-2); }
.Base--background-color-accent-shade-3 { background-color: var(--color-accent--shade-3); }
.Base--background-color-background-shade-1 { background-color: var(--color-background--shade-1); }
.Base--background-color-background-shade-2 { background-color: var(--color-background--shade-2); }
.Base--background-color-background-shade-3 { background-color: var(--color-background--shade-3); }
.Base--background-color-dark-shade-1 { background-color: var(--color-dark--shade-1); }
.Base--background-color-dark-shade-2 { background-color: var(--color-dark--shade-2); }
.Base--background-color-dark-shade-3 { background-color: var(--color-dark--shade-3); }
.Base--background-color-light-shade-1 { background-color: var(--color-light--shade-1); }
.Base--background-color-light-shade-2 { background-color: var(--color-light--shade-2); }
.Base--background-color-light-shade-3 { background-color: var(--color-light--shade-3); }
.Base--background-color-text-shade-1 { background-color: var(--color-text--shade-1); }
.Base--background-color-text-shade-2 { background-color: var(--color-text--shade-2); }
.Base--background-color-text-shade-3 { background-color: var(--color-text--shade-3); }
.Base--background-color-negative-shade-1 { background-color: var(--color-negative--shade-1); }
.Base--background-color-negative-shade-2 { background-color: var(--color-negative--shade-2); }
.Base--background-color-negative-shade-3 { background-color: var(--color-negative--shade-3); }
.Base--background-color-positive-shade-1 { background-color: var(--color-positive--shade-1); }
.Base--background-color-positive-shade-2 { background-color: var(--color-positive--shade-2); }
.Base--background-color-positive-shade-3 { background-color: var(--color-positive--shade-3); }

.Base--border-color-black { border-color: var(--color-black); }
.Base--border-color-white { border-color: var(--color-white); }
.Base--border-color-accent-shade-1 { border-color: var(--color-accent--shade-1); }
.Base--border-color-accent-shade-2 { border-color: var(--color-accent--shade-2); }
.Base--border-color-accent-shade-3 { border-color: var(--color-accent--shade-3); }
.Base--border-color-background-shade-1 { border-color: var(--color-background--shade-1); }
.Base--border-color-background-shade-2 { border-color: var(--color-background--shade-2); }
.Base--border-color-background-shade-3 { border-color: var(--color-background--shade-3); }
.Base--border-color-dark-shade-1 { border-color: var(--color-dark--shade-1); }
.Base--border-color-dark-shade-2 { border-color: var(--color-dark--shade-2); }
.Base--border-color-dark-shade-3 { border-color: var(--color-dark--shade-3); }
.Base--border-color-light-shade-1 { border-color: var(--color-light--shade-1); }
.Base--border-color-light-shade-2 { border-color: var(--color-light--shade-2); }
.Base--border-color-light-shade-3 { border-color: var(--color-light--shade-3); }
.Base--border-color-text-shade-1 { border-color: var(--color-text--shade-1); }
.Base--border-color-text-shade-2 { border-color: var(--color-text--shade-2); }
.Base--border-color-text-shade-3 { border-color: var(--color-text--shade-3); }
.Base--border-color-negative-shade-1 { border-color: var(--color-negative--shade-1); }
.Base--border-color-negative-shade-2 { border-color: var(--color-negative--shade-2); }
.Base--border-color-negative-shade-3 { border-color: var(--color-negative--shade-3); }
.Base--border-color-positive-shade-1 { border-color: var(--color-positive--shade-1); }
.Base--border-color-positive-shade-2 { border-color: var(--color-positive--shade-2); }
.Base--border-color-positive-shade-3 { border-color: var(--color-positive--shade-3); }

.Base--text-color-black { color: var(--color-black); }
.Base--text-color-white { color: var(--color-white); }
.Base--text-color-accent-shade-1 { color: var(--color-accent--shade-1); }
.Base--text-color-accent-shade-2 { color: var(--color-accent--shade-2); }
.Base--text-color-accent-shade-3 { color: var(--color-accent--shade-3); }
.Base--text-color-background-shade-1 { color: var(--color-background--shade-1); }
.Base--text-color-background-shade-2 { color: var(--color-background--shade-2); }
.Base--text-color-background-shade-3 { color: var(--color-background--shade-3); }
.Base--text-color-dark-shade-1 { color: var(--color-dark--shade-1); }
.Base--text-color-dark-shade-2 { color: var(--color-dark--shade-2); }
.Base--text-color-dark-shade-3 { color: var(--color-dark--shade-3); }
.Base--text-color-light-shade-1 { color: var(--color-light--shade-1); }
.Base--text-color-light-shade-2 { color: var(--color-light--shade-2); }
.Base--text-color-light-shade-3 { color: var(--color-light--shade-3); }
.Base--text-color-text-shade-1 { color: var(--color-text--shade-1); }
.Base--text-color-text-shade-2 { color: var(--color-text--shade-2); }
.Base--text-color-text-shade-3 { color: var(--color-text--shade-3); }
.Base--text-color-negative-shade-1 { color: var(--color-negative--shade-1); }
.Base--text-color-negative-shade-2 { color: var(--color-negative--shade-2); }
.Base--text-color-negative-shade-3 { color: var(--color-negative--shade-3); }
.Base--text-color-positive-shade-1 { color: var(--color-positive--shade-1); }
.Base--text-color-positive-shade-2 { color: var(--color-positive--shade-2); }
.Base--text-color-positive-shade-3 { color: var(--color-positive--shade-3); }

.Base--absolute-center,
.Base--absolute-fullscreen,
.Base--absolute-top,
.Base--absolute-top-left,
.Base--absolute-top-right,
.Base--absolute-bottom,
.Base--absolute-bottom-left,
.Base--absolute-bottom-right {
  position: absolute;
}

.Base--fixed-center,
.Base--fixed-fullscreen,
.Base--fixed-top,
.Base--fixed-top-left,
.Base--fixed-top-right,
.Base--fixed-bottom,
.Base--fixed-bottom-left,
.Base--fixed-bottom-right {
  position: fixed;
}

.Base--absolute-fullscreen,
.Base--fixed-fullscreen {
  width: 100%;
  height: 100%;
}

.Base--absolute-fullscreen,
.Base--absolute-top,
.Base--absolute-top-left,
.Base--absolute-top-right,
.Base--fixed-fullscreen,
.Base--fixed-top,
.Base--fixed-top-left,
.Base--fixed-top-right { top: 0; }

.Base--absolute-bottom,
.Base--absolute-bottom-left,
.Base--absolute-bottom-right,
.Base--fixed-bottom,
.Base--fixed-bottom-left,
.Base--fixed-bottom-right { bottom: 0; }

.Base--absolute-fullscreen,
.Base--absolute-top-left,
.Base--absolute-bottom-left,
.Base--fixed-fullscreen,
.Base--fixed-top-left,
.Base--fixed-bottom-left { left: 0; }

.Base--absolute-top-right,
.Base--absolute-bottom-right,
.Base--fixed-top-right,
.Base--fixed-bottom-right { right: 0; }

.Base--absolute-center,
.Base--fixed-center {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
