/* stylelint-disable no-descending-specificity */
.Button {
  --Button-color-intent: var(--color-accent--shade-3);
  --Button-color-intent-background: var(--color-accent--shade-1);
  --Button-color: var(--color-text--shade-1);
  --Button-color-active: var(--color-accent--shade-5);
  --Button-color-active-background: var(--color-accent--shade-2);

  border-style: solid;
  border-color: transparent;
  background-color: transparent;
  font-weight: var(--text-weight--strong);
  text-decoration: none;
  transition-property: border-color, background-color, color, opacity;
  transition-duration: var(--transition-duration--fast);
  transition-timing-function: var(--transition-timing-function);
  appearance: none;

  &:hover {
    cursor: pointer;
  }

  &:focus {
    outline: 0;
  }

  &[disabled],
  &[disabled]:hover,
  &[disabled]:active,
  &[disabled].Button--active {
    opacity: 0.5;
    cursor: default;
  }
}

.Button--x1 {
  font-size: var(--text-size--x2);
  line-height: var(--text-height--x1);
}

.Button--x2 {
  font-size: var(--text-size--x2);
  line-height: var(--text-height--x1);
}

.Button--x3 {
  font-size: var(--text-size--x3);
  line-height: var(--text-height--x2);
}

.Button--accent {
  --Button-color-intent: var(--color-accent--shade-3);
  --Button-color-intent-background: var(--color-accent--shade-1);
  --Button-color: var(--color-accent--shade-4);
  --Button-color-active: var(--color-accent--shade-5);
  --Button-color-active-background: var(--color-accent--shade-2);
  --Button-text-color: var(--color-white);
}

.Button--positive {
  --Button-color-intent: var(--color-positive--shade-3);
  --Button-color-intent-background: var(--color-positive--shade-1);
  --Button-color: var(--color-positive--shade-4);
  --Button-color-active: var(--color-positive--shade-5);
  --Button-color-active-background: var(--color-positive--shade-2);
  --Button-text-color: var(--color-white);
}

.Button--negative {
  --Button-color-intent: var(--color-negative--shade-3);
  --Button-color-intent-background: var(--color-negative--shade-1);
  --Button-color: var(--color-negative--shade-4);
  --Button-color-active: var(--color-negative--shade-5);
  --Button-color-active-background: var(--color-negative--shade-2);
  --Button-text-color: var(--color-white);
}

.Button--primary {
  border-color: var(--Button-color);
  background-color: var(--Button-color);
  color: var(--Button-text-color, var(--color-background--shade-1));

  &:hover:not([disabled]) {
    border-color: var(--Button-color-intent);
    background-color: var(--Button-color-intent);
  }

  &.Button--active:not([disabled]),
  &:active:not([disabled]) {
    border-color: var(--Button-color-active);
    background-color: var(--Button-color-active);
  }
}

.Button--secondary {
  border-color: var(--Button-color);
  background-color: transparent;
  color: var(--Button-color);

  &:hover:not([disabled]) {
    border-color: var(--Button-color-intent);
    background-color: var(--Button-color-intent-background);
    color: var(--Button-color-intent);
  }

  &.Button--active:not([disabled]),
  &:active:not([disabled]) {
    border-color: var(--Button-color-active);
    background-color: var(--Button-color-active-background);
    color: var(--Button-color-active);
  }
}

.Button--tertiary {
  border-color: transparent;
  background-color: transparent;
  color: var(--Button-color);

  &:hover:not([disabled]) {
    background-color: var(--Button-color-intent-background);
    color: var(--Button-color-intent);
  }

  &.Button--active:not([disabled]),
  &:active:not([disabled]) {
    background-color: var(--Button-color-active-background);
    color: var(--Button-color-active);
  }
}

.Buttons--joined-horizontal > .Button {
  &:not(:first-child) {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }

  &:not(:last-child) {
    border-right-width: 0;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;

    &.Button--active,
    &:not([disabled]):hover,
    &:not([disabled]):active {
      border-right-width: var(--border-size--x2);

      & + .Button {
        border-left-width: 0;
      }
    }
  }
}

.Buttons--joined-vertical > .Button {
  &:not(:first-child) {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
  }

  &:not(:last-child) {
    border-bottom-width: 0;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;

    &.Button--active,
    &:not([disabled]):hover,
    &:not([disabled]):active {
      border-bottom-width: var(--border-size--x2);

      & + .Button {
        border-top-width: 0;
      }
    }
  }
}
