.Button {
  --Button-color-intent: var(--color-accent--shade-4);
  --Button-color: var(--color-text--shade-1);
  --Button-color-active: var(--color-accent--shade-3);

  padding: var(--size--x2) var(--size--x3);
  border-style: solid;
  border-color: transparent;
  background-color: transparent;
  font-weight: var(--text-weight--strong);
  text-transform: uppercase;
  transition-property: border-color, background-color, color, opacity;
  transition-duration: var(--transition-time--fast);
  transition-timing-function: var(--transition-timing-function);

  &:hover {
    cursor: pointer;
  }

  &:focus {
    outline: 0;
  }

  &[disabled],
  &[disabled]:hover,
  &[disabled]:active,
  &[disabled].Button--active {
    opacity: 0.5;
    cursor: default;
  }

  &::before,
  &::after {
    content: '';
    flex: 1 0 auto;
  }
}

.Button--x1 {
  padding: var(--size--x1) var(--size--x2);
  font-size: var(--text-size--x1);
  line-height: var(--text-height--x1);
}

.Button--x2 {
  padding: var(--size--x2) var(--size--x3);
  font-size: var(--text-size--x1);
  line-height: var(--text-height--x1);
}

.Button--x3 {
  padding: var(--size--x3) var(--size--x4);
  font-size: var(--text-size--x2);
  line-height: var(--text-height--x2);
}

.Button--accent {
  --Button-color-intent: var(--color-accent--shade-3);
  --Button-color: var(--color-accent--shade-4);
  --Button-color-active: var(--color-accent--shade-5);
}

.Button--positive {
  --Button-color-intent: var(--color-positive--shade-3);
  --Button-color: var(--color-positive--shade-4);
  --Button-color-active: var(--color-positive--shade-5);
}

.Button--negative {
  --Button-color-intent: var(--color-negative--shade-3);
  --Button-color: var(--color-negative--shade-4);
  --Button-color-active: var(--color-negative--shade-5);
}

.Button--primary {
  border-color: var(--Button-color);
  background-color: var(--Button-color);
  color: var(--color-background--shade-1);

  &:hover:not([disabled]) {
    border-color: var(--Button-color-intent);
    background-color: var(--Button-color-intent);
  }

  &.Button--active:not([disabled]),
  &:active:not([disabled]) {
    border-color: var(--Button-color-active);
    background-color: var(--Button-color-active);
  }
}

.Button--secondary {
  border-color: var(--Button-color);
  background-color: transparent;
  color: var(--Button-color);

  &:hover:not([disabled]) {
    border-color: var(--Button-color-intent);
    color: var(--Button-color-intent);
  }

  &.Button--active:not([disabled]),
  &:active:not([disabled]) {
    border-color: var(--Button-color-active);
    color: var(--Button-color-active);
  }
}

.Button--tertiary {
  border-color: transparent;
  background-color: transparent;
  color: var(--Button-color);

  &:hover:not([disabled]) {
    color: var(--Button-color-intent);
  }

  &.Button--active:not([disabled]),
  &:active:not([disabled]) {
    color: var(--Button-color-active);
  }
}

.Buttons--joined > .Button {
  &:not(:first-child) {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }

  &:not(:last-child) {
    border-right-width: 0;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;

    &.Button--active,
    &:not([disabled]):hover,
    &:not([disabled]):active {
      border-right-width: var(--border-size--x2);

      & + .Button {
        border-left-width: 0;
      }
    }
  }
}
