.Input {
  display: block;
  width: 100%;
  min-width: 0;
  border: 0;
  border-radius: 0;
  background-color: transparent;
  color: var(--color-text--shade-1);
  text-overflow: ellipsis;
  line-height: var(--size--x4);
  appearance: none;

  &::placeholder {
    color: var(--color-text--shade-3);
  }

  &:focus::placeholder {
    color: transparent;
  }

  &:focus {
    outline: 0;
  }

  &:disabled {
    background-color: var(--color-background--shade-3);
  }
}
